<!-- Copyright (c) Microsoft Corporation.
     Licensed under the MIT License. -->

<!-- <LayoutSnippet> -->
<!DOCTYPE html>
<html>
  <head>
    <title>Microsoft OAuth Demo</title>
  </head>

  <body>
    {{#if user}}
      <h4>Email :  {{ user.email }}</h4>
      <h4>Name : {{ user.displayName }}</h4>
      <h4>First Name : {{ user.firstName }}</h4>
      <h4>Last Name : {{ user.lastName }}</h4>
      <h4>Phone No : {{ user.phoneNo }}</h4>
      <h4>User Details : {{ user.userDetails }}</h4>
    {{else}}
      <a href="/auth/signin">Click here to sign in</a>
    {{/if}}
  </body>
</html>
<!-- </LayoutSnippet> -->
